:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.mapContainer{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.info{
  border-radius: 20px;
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  top:20px;
  z-index: 99;
  color: white;
  padding: 5px 15px;
}

